.menu-nav {
    display: flex;
    position: fixed;
    background-color: #24303c;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--navbar-size);
    opacity: 0.90;
    z-index: 100;
}

.logo-navbar {
    width: 60px;
    height: var(--navbar-size);
    margin-left: 5px;
}

.menu-nav ul {
    position: relative;
    height: var(--navbar-size);
    list-style-type: none;
    font-size: 20px;
    left: 2rem;
}

.menu-nav li {
    justify-content: space-around;
    display: inline-block;
    margin-right: 2rem;
}

.menu-nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    height: var(--navbar-size);
    justify-content: center;
    align-content: center;
    padding-top: .75rem;
}

.buscador-navbar {
    position: absolute;
    right: 3rem;
    top: calc(var(--navbar-size) - 75%);
    height: calc(var(--navbar-size) - 50%);
    border-radius: 8px;
}

.cerrar-sesion {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/cerrar-sesion.png);
    background-size: contain;
    background-color: #24303c;
    border-radius: 3px;
}

#burger-checkbox, #burger-label {
    display: none;
}