* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-size: 50px;
}

body {
    /*background-image: url('../img/imagen_fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;*/
    background: url(../img/imagen_fondo.jpg) center center no-repeat fixed;
    background-size: cover;
    margin: 0;
    background-color: black;
}