  .tags, .card-date {
      font-size: small;
  }

  .tags {
      font-weight: bold;
      font-variant: small-caps;
  }

  .grid-container {
      position: absolute;
      margin: 2rem;
      display: grid;
      border: solid 1px red;
      grid-template-columns: 1fr;
      margin: 1rem;
  }

  .container-cards {
      display: grid;
      grid-auto-flow: row;
      gap: 30px 30px;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
  }

  #title-container {
      grid-column: span 2;
  }

  .card {
      position: relative;
      border: solid 1px green;
  }

  .card-img {
      max-width: 100%;
      max-height: 100%;
  }

  .card-text {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 10px;
  }

  .card:hover .card-text {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-auto-flow: row;
      width: 100%;
  }